<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Qxt Teddy Shop - Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/qxt-style.css}">
</head>
<body>

<!-- ===== HEADER (DÙNG TEMPLATE CHUNG) ===== -->
<th:block th:replace="~{layout/QxtHeader :: qxt_header}"></th:block>


<!-- ========== BANNER RIÊNG ========== -->
<section class="qxt-banner">
    <img src="/images/banner2.jpg" alt="Banner" class="home-banner">
</section>


<!-- ========== CATEGORY BAR (PHÂN LOẠI SẢN PHẨM) ========== -->
<section class="qxt-category-bar">
    <div class="qxt-category-list">
        <div class="qxt-breadcrumb">
            <a href="/" class="crumb">Trang chủ </a>
            <a href="/category/1" class="crumb">Gấu Teddy </a>
            <a href="/category/2" class="crumb">Thú bông </a>
            <a href="/category/3" class="crumb">Hoa gấu bông  </a>
            <a href="/category/4" class="crumb">BlindBox </a>
            <a href="/category/5" class="crumb">Phụ kiện  </a>
            <a href="/category/6" class="crumb">Thiệp viết tay </a>
        </div>
    </div>
</section>


<section class="qxt-feature-boxes">

    <a href="/tag/tangbanhai" class="qxt-feature-card">
        Tặng bạn gái
    </a>

    <a href="/tag/bigsize" class="qxt-feature-card">
        Big size
    </a>

    <a href="/tag/intenn" class="qxt-feature-card">
        Gấu bông in tên
    </a>

</section>



<!-- ========== SẢN PHẨM NỔI BẬT ========== -->
<section class="qxt-section">
    <h3 class="qxt-section-title">Sản phẩm nổi bật</h3>

    <div class="qxt-product-grid">

        <div class="qxt-product-card" th:each="p : ${products}">
            <a th:href="@{'/product/' + ${p.id}}">

                <!-- Ảnh sản phẩm -->
                <img th:src="@{'/uploads/product-images/' + ${p.image}}" alt="Ảnh sản phẩm">

                <!-- Tên sản phẩm -->
                <h4 th:text="${p.name}"></h4>

                <!-- Giá -->
                <p class="price"
                   th:text="${#numbers.formatInteger(p.price, 0, 'POINT')} + ' đ'">
                </p>

            </a>
        </div>

    </div>
</section>


<!-- ===== FOOTER ===== -->
<div th:insert="~{layout/QxtFooter :: qxt_footer}"></div>

</body>
</html>