        <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin-layout :: content">
<body>
<div>
    <h1>Orders</h1>
    <table class="table table-striped">
        <thead><tr><th>ID</th><th>User</th><th>Total</th><th>Status</th><th>Action</th></tr></thead>
        <tbody>
        <tr th:each="o : ${orders}">
            <td th:text="${o.id}"></td>
            <td th:text="${o.user.email}"></td>
            <td th:text="${o.totalAmount}"></td>
            <td th:text="${o.status}"></td>
            <td><a class="btn btn-sm btn-info" th:href="@{'/admin/orders/' + ${o.id}}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>