        <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin-layout :: content">
<body>
<div>
    <h1>Create Category</h1>
    <form th:action="@{/admin/categories/create}" th:object="${category}" method="post">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <textarea th:field="*{description}" class="form-control"></textarea>
        </div>
        <button class="btn btn-success">Create</button>
    </form>
</div>
</body>
</html>