<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
          initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devmaster Profile</title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<header class="container d-flex align-items-center mt-3">
    <img src="https://devmaster.edu.vn/images/logo.png"
         alt="Devmaster Academy"
         style="width: 120px; height: auto; margin-right: 20px;">

    <div>
        <h1 th:text="${@environment.getProperty('app.name')}">App Name</h1>
        <p th:text="${@environment.getProperty('app.welcome.message')}">Welcome Message</p>
    </div>
</header>

<section class="container mt-4">

    <!-- Lặp danh sách Info -->
    <div class="alert alert-info" th:each="info : ${DevmasterProfile}">
        <h2 th:text="${info.name}">Tên</h2>

        <p>Mã: <span th:text="${info.code}">Code</span></p>
        <p>Email: <span th:text="${info.email}">Email</span></p>
        <p>Website:
            <a th:href="${info.website}" th:text="${info.website}"></a>
        </p>
    </div>

    <a th:href="@{/}" class="btn btn-success">Back</a>
</section>

<!-- JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
