<footer class="pta-footer"
        th:fragment="pta_footer"
        xmlns:th="http://www.thymeleaf.org">


    <div class="footer-container">

        <!-- Cột 1: Logo + mô tả -->
        <div class="footer-col">
            <img src="/images/logo.jpg" alt="Logo" class="footer-logo">
            <p class="footer-desc">
                Mọi sản phẩm bạn đang tìm kiếm đều ở đây. Nếu bạn gặp khó khăn, chúng tôi có vài gợi ý
            </p>
        </div>

        <div class="footer-col">
            <h4>Liên hệ</h4>
            <p>Hotline: 0984551682</p>
            <p>Email: support@HeliosShop.com</p>
            <p>Địa chỉ: Hà Nội</p>
        </div>

        <!-- Cột 4: Mạng xã hội -->
        <div class="footer-col">
            <h4>Theo dõi shop</h4>
            <div class="footer-social">
                <a href="https://www.facebook.com/pham.tuan.290500">Facebook</a>
                <a href="https://www.tiktok.com/@phamtuan798">TikTok</a>
                <a href="https://www.instagram.com/ph.tanhhh0511/">Instagram</a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2025 — pta Helios Shop. All rights reserved.
    </div>

</footer>